[Desktop Entry]
Name=ponycountdownplasma
Name[ast]=ponycountdownplasma
Name[bg]=ponycountdownplasma
Name[bs]=ponycountdownplasma
Name[ca]=ponycountdownplasma
Name[ca@valencia]=ponycountdownplasma
Name[cs]=ponycountdownplasma
Name[da]=ponycountdownplasma
Name[de]=ponycountdownplasma
Name[el]=ponycountdownplasma
Name[en_GB]=ponycountdownplasma
Name[eo]=ponycountdownplasma
Name[es]=ponycountdownplasma
Name[et]=ponycountdownplasma
Name[fi]=ponycountdownplasma
Name[fr]=ponycountdownplasma
Name[ga]=ponycountdownplasma
Name[gl]=ponycountdownplasma
Name[hu]=ponycountdownplasma
Name[it]=ponycountdownplasma
Name[ja]=ponycountdownplasma
Name[kk]=ponycountdownplasma
Name[km]=ponycountdownplasma
Name[ko]=ponycountdownplasma
Name[lt]=ponycountdownplasma
Name[lv]=ponycountdownplasma
Name[nb]=ponycountdownplasma
Name[nds]=ponycountdownplasma
Name[nl]=ponycountdownplasma
Name[nn]=ponycountdownplasma
Name[pa]=ponycountdownplasma
Name[pl]=ponycountdownplasma
Name[pt]=ponycountdownplasma
Name[pt_BR]=ponycountdownplasma
Name[ro]=ponycountdownplasma
Name[ru]=ponycountdownplasma
Name[sk]=ponycountdownplasma
Name[sq]=ponycountdownplasma
Name[sr]=ponycountdownplasma
Name[sr@ijekavian]=ponycountdownplasma
Name[sr@ijekavianlatin]=ponycountdownplasma
Name[sr@latin]=ponycountdownplasma
Name[sv]=ponycountdownplasma
Name[tr]=ponycountdownplasma
Name[ug]=ponycountdownplasma
Name[uk]=ponycountdownplasma
Name[x-test]=xxponycountdownplasmaxx
Name[zh_CN]=ponycountdownplasma
Name[zh_TW]=ponycountdownplasma
Comment=Plasma ponycountdownplasma
Comment[ast]=Plasma ponycountdownplasma
Comment[bs]=Plazma ponycountdownplasma
Comment[ca]=Plasma ponycountdownplasma
Comment[ca@valencia]=Plasma ponycountdownplasma
Comment[cs]=Plasma ponycountdownplasma
Comment[da]=Plasma ponycountdownplasma
Comment[de]=Plasma ponycountdownplasma
Comment[el]=Plasma ponycountdownplasma
Comment[en_GB]=Plasma ponycountdownplasma
Comment[eo]=Plasma ponycountdownplasma
Comment[es]=Plasma ponycountdownplasma
Comment[et]=Plasma ponycountdownplasma
Comment[fi]=Plasma ponycountdownplasma
Comment[fr]=Plasma ponycountdownplasma
Comment[ga]=Plasma ponycountdownplasma
Comment[gl]=Plasma ponycountdownplasma
Comment[hu]=Plasma ponycountdownplasma
Comment[it]=Plasma ponycountdownplasma
Comment[ja]=Plasma ponycountdownplasma
Comment[kk]=Plasma ponycountdownplasma
Comment[km]=ប្លាស្មា ponycountdownplasma
Comment[ko]=Plasma ponycountdownplasma
Comment[lt]=Plazma ponycountdownplasma
Comment[lv]=Plasma ponycountdownplasma
Comment[nb]=Plasma ponycountdownplasma
Comment[nds]=Plasma ponycountdownplasma
Comment[nl]=Plasma ponycountdownplasma
Comment[nn]=Plasma ponycountdownplasma
Comment[pa]=ਪਲਾਜ਼ਮਾ ponycountdownplasma
Comment[pl]=Plazma ponycountdownplasma
Comment[pt]=Plasma ponycountdownplasma
Comment[pt_BR]=Plasma ponycountdownplasma
Comment[ro]=Plasma ponycountdownplasma
Comment[ru]=Виджет Plasma ponycountdownplasma
Comment[sk]=Plasma ponycountdownplasma
Comment[sq]=Plasma ponycountdownplasma
Comment[sr]=Плазмин ponycountdownplasma
Comment[sr@ijekavian]=Плазмин ponycountdownplasma
Comment[sr@ijekavianlatin]=Plasmin ponycountdownplasma
Comment[sr@latin]=Plasmin ponycountdownplasma
Comment[sv]=Plasma ponycountdownplasma
Comment[tr]=Plasma ponycountdownplasma
Comment[uk]=Плазма ponycountdownplasma
Comment[x-test]=xxPlasma ponycountdownplasmaxx
Comment[zh_CN]=Plasma ponycountdownplasma
Comment[zh_TW]=Plasma ponycountdownplasma
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_ponycountdownplasma
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=ponycountdownplasma
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

